/*
Author: Andrew Jarombek
Date: 5/24/2016 - 
Style Sheet For SaintsXCTF
*/

* {
    margin: 0;
    text-decoration: none;
    
    /* Debugging 
    border: 1px solid;
    border-color: black;*/
}

body {
    margin: auto;
    font-family: 'Roboto Slab', serif;
    padding: 1px;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* -------------------- Log Feed on Profile, Main, Team Pages -------------------- */ 

.log {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-color: #888;
}

.log a:nth-child(1) {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: left;
}

.log p:nth-child(2) {
    display: inline-flex;
    float: left;
    text-decoration: underline;
}

.log p:nth-child(3) {
    display: inline-flex;
    float: right;
    font-weight: bold;
    font-size: 14px;
}

.log p:nth-child(4) {
    display: inline-block;
    height: 80%;
    width: 80%;
    float: right;
    text-align: right;
    font-size: 14px;
    color: #666;
}

.log p:nth-child(5) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.log p:nth-child(6) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.log p:nth-child(7) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.log p:nth-child(8) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
}

#load_more_logs {
    text-align: center;
    background-color: #eee;
    display: block;
    margin: auto;
}

#log_error i {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 4px;
}

.loglink {
    color: #333;
}

.loglink:hover {
    text-shadow: 1px 1px 5px #888;
}

/* -------------------- Signed In Main Page (Home Display) -------------------- */ 

#display {
    max-width: 1000px;
    height: 800px;
    margin: 0 auto;
    background-color: #ddd;
    background-size: 1250px 1000px;
    background-repeat: no-repeat;
    padding: 1px;
    padding-top: 160px;
}

#myprofiledisplay {
    max-width: 1000px;
    height: 1132px;
    margin: 0 auto;
    background-color: #ddd;
    background-size: 1250px 1000px;
    background-repeat: no-repeat;
    padding: 1px;
    padding-top: 160px;
}

#eventfeed, #teamfeed, #activityfeed {
    /* For Debugging
    background-color: #ccc;*/
    height: 800px;
    padding-right: 2px;
    padding-left: 2px; 
}

#teamfeed, #activityfeed {
    float: left;
}

#teamfeed {
    width: 20%;
    max-width: 200px;
    border-right: 1px dotted;
}

#activityfeed {
    width: 60%;
    max-width: 586px;
    max-height: 802px;
    height: 100%;
    overflow: hidden;
    /* For Debugging 
    border: 1px solid; */
}

#eventfeed {
    float: right;
    width: 20%;
    max-width: 200px;
    border-left: 1px dotted;
}

.nofeed {
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.feed {
    text-align: center;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
}

/* -------------------- Signed Out Main Page (Home Display) -------------------- */ 

#homedisplay {
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-image: url("images/saintsbackground2.jpg");
    background-size: 1250px 1000px;
    background-repeat: no-repeat;
    padding: 1px;
}

#mainbody {
    position: static;
    margin-top: 350px;
    margin-left: 5%;
    margin-right: 5%;
    height: 300px;
}

#forms {
    border: 2px solid;
    background: rgba(200, 200, 200, 0.8);
    position: static;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#register, #signin {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 45%;
    min-width: 284px;
    padding: 2%;
    margin-left: 5px;
    float: left;
}

.input:hover, .submit:hover, .select:hover {
    border: 1px solid;
    border-color: #666;
}

.input, .submit, .select, .selected {
    border: 1px solid;
    border-color: #999;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px;
    width: 280px;
    height:20px;
    padding: 1px;
    margin: 2px;
}

.submit, .select, .selected {
    width: 284px;
    height: 30px;
    background: rgba(220, 220, 220, 1);
    cursor: pointer;
}

.valid {
    border-color: green;
    box-shadow: 0 0 7px #00ee00;
}

.invalid {
    border-color: red;
    box-shadow: 0 0 7px #ee0000;
}

#su_error, #si_error, #log_error {
    color: #aa0000;
    overflow: auto;
}

#su_error i {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 4px;
}

/* -------------------- Profile Page -------------------- */

#profileinfo {
    float: left;
    padding: 5px;
    width: 350px;
    margin: auto;
    /* For Debugging 
    border: 1px solid; */
}

#profileinfo figure {
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
}

#profileinfo img {
    border-style: double;
    border-color: #aaa;
}

#profileinfo input {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#edit_profile {
    background-color: #eee;
    width: 60%;
}

#activityinput {
    max-width: 490px;
    border: 1px solid;
    border-color: #999;
    background: rgba(187, 187, 187, .4);
    float: left;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5px;
    padding-top: 4px;
    /* For Debugging 
    border: 1px solid; */
}

#activityinput input {
    margin: auto;
    max-width: 300px;
}

#activityinput select {
    margin: auto;
    max-width: 100px;
}

#activityinput textarea {
    margin: auto;
    width: 440px;
    height: 80px;
} 

#log_minutes,#log_seconds {
    width: 25px;
}

#log_distance {
    width: 60px;
}

#log_date {
    width: 125px;
}

#log_name,#log_location {
    width: 300px; 
}

#log_submit,#log_cancel {
    width: 220px;
}

#feel_hint {
    color: rgba(115, 115, 115, 1);
}

#log_error {
    text-align: center;
}

/* -------------------- Edit Profile Page -------------------- */

#editprofiledetails {
    margin-bottom: 60px;
}

#editprofiledetails p {
    text-align: center;
    margin-right: 28%;
    margin-left: 28%;
    padding-bottom: 8px;
    /* border: 1px solid; */
}

#editprofiledetails p input,textarea {
    display: inline-flex;    
    float: right;
}

#editprofiledetails textarea {
    height: 60px;
}

/* -------------------- Group Select Page -------------------- */

#groupselect {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 90%;
    min-width: 284px;
    padding: 2%;
}

.select {
    background: rgba(255, 255, 255, 1);
}

.selected {
    background: rgba(153, 0, 0, 1);
    box-shadow: inset 0 0 5px #111;
    color: white;
}

.submitable {
    box-shadow: 0 0 2px #000;
}

/* -------------------- Signed Out Main Page (Features Display) -------------------- */

#featuresdisplay, #aboutusdisplay {
    background-color: #ddd;
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    padding: 1px;
}

/* -------------------- Signed Out Main Page (About Us Display) -------------------- */

#aboutusdisplay {
    margin-top: 1px;
    height: 400px;
}

/* -------------------- Site Footer -------------------- */

footer {
    /* Position and Bottom need to be adjusted*/
    /* position: fixed;
    bottom: 0; */
    background-color: #990000;
    max-width: 500px;
    min-width: 450px;
    height: 30px;
    margin: auto;
    margin-top: 1px;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#fcontent {
    height: 20px;
    float: left;
    color: white;
    padding-left: 40%;
    padding-top: 3px;
}

#fcontent a {
    color: white;
}

#fimage {
    height: 20px;
    padding-top: 3px;
    float: left;
}

/* -------------------- Site Header Menu -------------------- */

#signedoutmenu {
    display: block;
    color: white;
    position: fixed;
    width: 100%;
    max-width: none;
    height: 90px;
    margin-top: 15px;
    background-color: #990000;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
    overflow: hidden;
}

#menucontents {
    position: static;
    max-width: 1000px;
    margin: 0 auto;
}

#sitelogo, #sitetitle {
    float: left;
    overflow: auto;
    height: 75px;
    width: 75px;
    padding: 5px;
    cursor: pointer;
}

#sitelogo {
    padding-left: 30px;
    position: static;
    margin-top: 2px;
}

#sitetitle {
    width: 220px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 3px #333;
    color: white;
    position: static;
    margin-top: 15px;
    margin-left: 5px;
}

#signedoutmenu li {
    float: right;
    overflow: auto;
    width: 15%;
    height: 50px;
    list-style-type: none;
}

li a {
    color: white;
}

#menulinks {
    padding-top: 35px;
}

.headeropt:hover {
    text-shadow: 2px 2px 3px #000;
}

/* -------------------- Material Design Icons -------------------- */

/* Sizing */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Basic Coloring */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Custom Colors */
.material-icons.error { color: #aa0000; }