/*
Author: Andrew Jarombek
Date: 5/24/2016 - 2/20/2017
Style Sheet For SaintsXCTF
Version 0.4 (BETA) - 12/24/2016
Version 0.5 (FEEDBACK UPDATE) - 1/18/2017
Version 0.6 (GROUPS UPDATE) - 2/20/2017
*/

* {
    margin: 0;
    text-decoration: none;
}

body {
    margin: auto;
    font-family: 'Roboto Slab', serif;
    padding: 1px;
}

body.waiting * {
    cursor: wait;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

#notification {
    color: #3399CC;
    display: inline-flex;
    vertical-align: middle;
}

.group_link {
    font-size: 14px;
    font-style: bold;
    border: 2px solid;
    border-color: #ccc;
    background-color: #eee;
    cursor: pointer;
    height: 24px;
    padding: 10px 3px 8px 3px;
    margin: 5px;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.group_link:hover, .group_link:focus {
    background-color: #aaa;
}

/* -------------------- Log Feed on Profile, Main, Team Pages -------------------- */ 

.log {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-color: #888;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
}

.log a:nth-child(1) {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: left;
}

.log div:nth-child(2) {
    position: relative;
}

.log div:nth-child(2) form p {
    position: absolute;
    right: 25px;
    background: rgba(200, 200, 200, 0.8);
    border: 1px solid;
    border-color: rgba(200, 200, 200, 0.8);
    margin-right: 1px;
    display: none;
}

.log div:nth-child(2) p {
    position: absolute;
    right: 0px;
    background: rgba(200, 200, 200, 0.8);
    border: 1px solid;
    border-color: rgba(200, 200, 200, 0.8);
    display: none;
}

.log div:nth-child(2) form:hover {
    background: rgba(200, 200, 200, 1);
    border-color: rgba(120, 120, 120, 1);
    cursor: pointer;
}

.log div:nth-child(2) p:hover {
    background: rgba(200, 200, 200, 1);
    border-color: rgba(120, 120, 120, 1);
    cursor: pointer;
}

.log p:nth-child(3) {
    display: inline-flex;
    float: left;
    text-decoration: underline;
}

.log p:nth-child(4) {
    display: inline-flex;
    float: right;
    font-weight: bold;
    font-size: 14px;
}

.log p:nth-child(5) {
    display: inline-block;
    height: 100%;
    width: 100%;
    float: right;
    text-align: right;
    font-size: 14px;
    color: #666;
}

.log p:nth-child(6) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.log p:nth-child(7) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.log p:nth-child(8) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.log p:nth-child(9) {
    display: inline-flex;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
}

.comment {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 96%;
    height: 20px;
}

.commentdisplay {
    border-top: 1px solid;
    border-color: #aaa;
    margin-top: 2px;
    min-height: 50px;
    overflow: auto;
}

.commentdisplay p:nth-child(1) {
    display: inline-flex;
    float: left;
    text-decoration: underline;
}

.commentdisplay p:nth-child(2) {
    display: inline-block;
    float: right;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.commentdisplay p:nth-child(3) {
    display: inline-flex;
    float: left;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

#load_more_logs {
    text-align: center;
    background-color: #eee;
    display: block;
    margin: auto;
}

#log_error i {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 4px;
}

.loglink {
    color: #333;
}

.loglink:hover {
    text-shadow: 1px 1px 5px #888;
}

/* -------------------- Signed In Main Page (Home Display) -------------------- */ 

#display {
    height: 980px;
    margin: 0 auto;
    background-color: #ddd;
    background-size: 1250px 1000px;
    background-repeat: no-repeat;
    padding: 1px;
    padding-top: 146px;
}

#longerdisplay {
    width: 1000px;
    height: 950px;
    margin: 0 auto;
    background-color: #ddd;
    background-size: 1250px 1000px;
    background-repeat: no-repeat;
    padding: 1px;
    padding-top: 160px;
}

#myprofiledisplay {
    width: 1000px;
    height: 1132px;
    margin: 0 auto;
    background-color: #ddd;
    background-size: 1250px 1000px;
    background-repeat: no-repeat;
    padding: 1px;
    padding-top: 160px;
}

/* -------------------- Group Page Panels -------------------- */

#panelslist {
    list-style-type: none;
    float: left;
    width: 60%;
    max-width: 562px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0px;
}

.plelement {
    float: left;
    border-right: 3px solid;
    border-color: #ddd;
    padding: 5px 16px 5px 16px;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
    font-size: 14px;
}

.userpl {
    padding-left: 64px;
    padding-right: 64px;
}

.plelement:hover, .lelement:hover {
    text-shadow: 1px 1px 5px #888;
}

.activepanelslist {
    background-color: #990000;
    color: white;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.activepanelslist:hover, .activepanelslist:focus {
    background-color: #aaa;
}

.inactivepanelslist {
    background-color: #eee;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.inactivepanelslist:hover, .inactivepanelslist:focus {
    background-color: #aaa;
}

.inactivepanel {
    display: none;
}

.activepanel {
    display: block;
}

#leaderboards, #messageboard, #members, #admin {
    width: 586px;
    max-height: 802px;
    height: 100%;
    overflow: auto;
}

/* -------------------- LeaderBoard Panel -------------------- */

#leaderboardlist {
    float: left;
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
}

.lelement {
    border: 2px solid;
    border-color: #ccc;
    background-color: #eee;
    padding: 5px 15px 5px 15px;
    margin-bottom: 2px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    float: left;
}

.activeleaderboard {
    background-color: #990000;
    color: white;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.activeleaderboard:hover, .activeleaderboard:focus {
    background-color: #aaa;
}

.inactiveleaderboard {
    background-color: #eee;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.inactiveleaderboard:hover, .inactiveleaderboard:focus {
    background-color: #aaa;
}

#leaderboardchart {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eee;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 625px;
    padding: 10px;
    margin-top: 35px;
    position: relative;
}

#leaderboardtitle {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 100%;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.text {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 230px;
    background-color: #eee;
    position: absolute;
    left: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.percentage {
    font-size: .8em;
    line-height: 1;
    width: 390px;
    height: 40px;
    margin-left: 230px;
    background: -webkit-repeating-linear-gradient(left, #ddd, #ddd 1px, #fff 1px, #fff 10%);
    background: repeating-linear-gradient(to right, #ddd, #ddd 1px, #fff 1px, #fff 10%);
}

.percentage:after {
    content: "";
    display: block;
    background-color: #990000;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    cursor: pointer;
}

#bar_1:after {
    width: 55%;
}

.percentage:hover:after, .percentage:focus:after {
    background-color: #aaa;
}

/* -------------------- MessageBoard Panel -------------------- */

#messageinput {
    max-width: 490px;
    border: 1px solid;
    border-color: #999;
    background: rgba(187, 187, 187, .4);
    float: left;
    padding-bottom: 5px;
    padding-top: 4px;
    margin-left: 40px;
}

#new_message {
    width: 470px;
    height: 100px;
    resize: none;
}

#messagefeed {
    margin-top: 180px;
    height: 620px;
}

.message {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid;
    border-color: #888;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    overflow: auto;
}

.message a:nth-child(1) {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: left;
}

.message div:nth-child(2) {
    position: relative;
}

.message div:nth-child(2) p {
    position: absolute;
    right: 0px;
    background: rgba(200, 200, 200, 0.8);
    border: 1px solid;
    border-color: rgba(200, 200, 200, 0.8);
    display: none;
    margin-top: -20px;
}

.message div:nth-child(2) p:hover {
    background: rgba(200, 200, 200, 1);
    border-color: rgba(120, 120, 120, 1);
    cursor: pointer;
}

.message p:nth-child(3) {
    display: inline-flex;
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin-top: -20px;
}

.message p:nth-child(4) {
    padding-top: 10px;
    display: inline-flex;
    float: left;
}

#load_more_messages {
    background-color: #eee;
    display: block;
    margin: auto;
}

/* -------------------- Members Panel -------------------- */

.memberlist {
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid;
    border-color: #aaa;
    background-color: #eee;
    -webkit-transition: background-color .6s ease;
    transition: background-color .6s ease;
    color: black;
    overflow: auto;
}

.memberlist:hover, .memberlist:focus {
    background-color: #990000;
    color: white;
}

.memberlist p:nth-child(2) {
    font-weight: bold;
    font-size: 14px;
    float: right;
    margin-top: -20px;
}

/* -------------------- Admin Panel -------------------- */

#admin p {
    display: block;
    margin: 0 auto;
}

/* -------------------- Monthly Calendar Panel -------------------- */

#monthlycalendar {
    border: 1px solid;
    border-color: #aaa;
    width: 544px;
    height: 496px;
    float: right;
    margin-right: 80px;
}

#monthyear {
    width: 544px;
    height: 68px;
}

#monthyear p,i {
    float: left;
    text-align: center;
    padding-top: 10px;
    font-size: 28px;
}

#monthyear i {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

#monthyear i:nth-child(1) {
    height: 58px;
    width: 20px;
    cursor: pointer;
}

#monthyear p:nth-child(2) {
    height: 58px;
    width: 484px;
}

#monthyear i:nth-child(3) {
    height: 58px;
    width: 20px;
    cursor: pointer;
}

#monthyear i:hover, #monthyear i:focus {
    color: #990000;
}

#weekdays {
    width: 544px;
    height: 20px;
}

.wd {
    float: left;
    width: 68px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.calendarday, .calendarend {
    height: 66px;
    width: 66px;
    border: 1px solid;
    border-color: #aaa;
    float: left;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
}

.calendarday:hover, .calendarday:focus, .calendarend:hover, .calendarend:focus {
    cursor: pointer;
    border-color: #555;
}

.calendarDayNum {
    font-size: 14px;
    font-weight: bold;
}

.calendarDayMileage {
    font-size: 14px;
    text-align: center;
}

.calendarend .calendarDayMileage {
    padding-top: 13px;
}

/* -------------------- Workout Log Feeds -------------------- */

#eventfeed, #teamfeed, #activityfeed {
    /* For Debugging
    background-color: #ccc;*/
    height: 800px;
    padding-right: 2px;
    padding-left: 2px; 
}

#teamfeed, #activityfeed {
    float: left;
}

#teamfeed {
    width: 20%;
    max-width: 200px;
    border-right: 1px dotted;
    text-align: center;
}

#teamfeed input {
    width: 90%;
    font-size: 12px;
    background-color: #eee;
}

#activityfeed {
    width: 60%;
    max-width: 586px;
    max-height: 802px;
    height: 100%;
    overflow: auto;
    /* For Debugging 
    border: 1px solid; */
}

#eventfeed {
    float: right;
    width: 20%;
    max-width: 200px;
    border-left: 1px dotted;
}

#load_more_logs, #load_more_messages {
    margin-bottom: 20px;
}

.nofeed {
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.feed {
    text-align: center;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
}

/* -------------------- Signed Out Main Page (Home Display) -------------------- */ 

#homedisplay {
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-image: url("images/saintsbackground2.jpg");
    background-size: 1250px 1000px;
    background-repeat: no-repeat;
    padding: 1px;
}

#featuresdisplay {
    text-align: center;
}

#featuresdisplay li {
    list-style-type: none;
    margin-left: -40px;
}

#featuresdisplay img {
    width: 90;
    height: 90;
    overflow: hidden;
}

#featuresdisplay figure {
    margin-bottom: 10px;
}

#aboutusdisplay {
    text-align: center;
}

#mainbody {
    position: static;
    margin-top: 350px;
    margin-left: 5%;
    margin-right: 5%;
    height: 300px;
}

#forms {
    border: 2px solid;
    background: rgba(200, 200, 200, 0.8);
    position: static;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    min-width: 350px;
}

#register, #signin {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 284px;
    padding: 2%;
}

.input:hover, .submit:hover, .select:hover {
    border: 1px solid;
    border-color: #666;
}

.input, .submit, .select, .selected {
    border: 1px solid;
    border-color: #999;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px;
    width: 280px;
    height:20px;
    padding: 1px;
    margin: 2px;
}

.submit, .select, .selected {
    width: 284px;
    height: 30px;
    background: rgba(220, 220, 220, 1);
    cursor: pointer;
}

#si_forgot_password {
    font-size: 12px;
    width: 120px;
    height: 14px;
    margin-top: 10px;
    border: 0px solid;
    background: rgba(255, 255, 255, 0);
    font-weight: bold;
}

.valid {
    border-color: green;
    box-shadow: 0 0 7px #00ee00;
}

.invalid {
    border-color: red;
    box-shadow: 0 0 7px #ee0000;
}

#su_error, #si_error, #log_error, #edit_error, #fpw_error {
    color: #aa0000;
    overflow: auto;
}

#su_error i {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 4px;
}

/* -------------------- Forgot Password Page -------------------- */

.first_verify {

}

.second_verify {
    display: none;
}

.third_verify {
    display: none;
}

/* -------------------- Profile Page -------------------- */

#profileinfo {
    float: left;
    padding: 5px;
    width: 350px;
    margin: auto;
    /* For Debugging 
    border: 1px solid; */
}

#profileinfo figure {
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
}

#profileinfo img {
    border-style: double;
    border-color: #aaa;
}

#profileinfo input {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#profileinfo p,h5 {
    text-align: center;
}

#profileinfo #creator {
    color: #aa0000;
}

#edit_profile {
    background-color: #eee;
    width: 60%;
}

/* -------------------- Log Input -------------------- */

#activityinput {
    max-width: 490px;
    border: 1px solid;
    border-color: #999;
    background: rgba(187, 187, 187, .4);
    float: left;
    padding-right: 2.8%;
    padding-left: 6%;
    padding-bottom: 5px;
    padding-top: 4px;
    /* For Debugging 
    border: 1px solid; */
}

#editactivityinput {
    max-width: 490px;
    margin: auto;
    border: 1px solid;
    border-color: #999;
    background: rgba(187, 187, 187, .4);
    padding-right: 2.8%;
    padding-left: 6%;
    padding-bottom: 10px;
    padding-top: 10px;
}

#activityinput input {
    margin: auto;
    max-width: 300px;
}

#activityinput select {
    margin: auto;
    max-width: 100px;
}

#activityinput textarea {
    float: left;
    width: 440px;
    height: 70px;
}

#editactivityinput input {
    margin: auto;
    max-width: 300px;
}

#editactivityinput select {
    margin: auto;
    max-width: 100px;
}

#editactivityinput textarea {
    float: left;
    width: 440px;
    height: 70px;
} 

#log_minutes,#log_seconds {
    width: 25px;
}

#log_distance {
    width: 60px;
}

#log_date {
    width: 125px;
}

#log_name,#log_location {
    width: 300px; 
}

#log_submit,#log_cancel {
    width: 220px;
}

#feel_hint {
    color: rgba(115, 115, 115, 1);
}

#log_error {
    text-align: center;
}

/* -------------------- Edit Profile Page -------------------- */

#editprofiledetails {
    margin-bottom: 60px;
}

#editprofiledetails p {
    text-align: center;
    margin-right: 28%;
    margin-left: 28%;
    padding-bottom: 8px;
    /* border: 1px solid; */
}

#editprofiledetails p input,textarea {
    display: inline-flex;    
    float: right;
}

#editprofiledetails #week_start {
    padding-top: 50px;
    margin-left: 300px;
}

#week_start .radio {
    display: inline-block;
    float: none;
    width: 50px;
    margin-right: 10px;
    margin-left: 30px;
}

#editprofiledetails textarea {
    height: 60px;
    resize: none;
}

#editprofilepicture {
    margin-bottom: 100px;
    margin-right: 28%;
    margin-left: 28%;
}

#editprofilepicture aside {
    text-align: right;
    margin-top: 40px;
    padding-bottom: 8px;
}

#editprofilepicture figure {
    float: left;
}

#editprofilepicture img {
    border-style: double;
    border-color: #aaa;
}

#editprofilepicture label {
    margin-right: 55px;
    padding-bottom: 10px;
}

#editgroups {
    margin-bottom: 40px;
    margin-right: 28%;
    margin-left: 28%;
    text-align: center;
}

#submitprofilechanges {
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

#submitprofilechanges input {
    background-color: #eee;
}

/* -------------------- Group Select Page -------------------- */

#groupselect {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 90%;
    min-width: 284px;
    padding: 2%;
}

.select {
    background: rgba(255, 255, 255, 1);
}

.selected {
    background: rgba(153, 0, 0, 1);
    box-shadow: inset 0 0 5px #111;
    color: white;
}

.submitable {
    box-shadow: 0 0 2px #000;
}

/* -------------------- Signed Out Main Page (Features Display) -------------------- */

#featuresdisplay, #aboutusdisplay {
    background-color: #ddd;
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    padding: 1px;
}

/* -------------------- Signed Out Main Page (About Us Display) -------------------- */

#aboutusdisplay {
    margin-top: 1px;
    height: 600px;
}

/* -------------------- Site Footer -------------------- */

footer {
    /* Position and Bottom need to be adjusted*/
    /* position: fixed;
    bottom: 0; */
    background-color: #990000;
    max-width: 500px;
    min-width: 450px;
    height: 30px;
    margin: auto;
    margin-top: 1px;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#fcontent {
    height: 20px;
    float: left;
    color: white;
    padding-left: 40%;
    padding-top: 3px;
}

#fcontent a {
    color: white;
}

#fimage {
    height: 20px;
    padding-top: 3px;
    float: left;
}

/* -------------------- Feedback Button and Form -------------------- */

#feedbackbutton {
    position: fixed;
    height: 100px;
    width: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid;
    border-left: none;
    background: rgba(200, 200, 200, 0.8);
}

#feedbackbutton p {
    transform: rotate(270deg);
    display: block;
}

#feedback {
    margin-top: 60px;
    height: 40px;
    cursor: pointer;
}

#feedbackform {
    display: none;
    position: fixed;
    height: 300px;
    width: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid;
    background: rgba(200, 200, 200, 0.8);
}

#feedbackform textarea {
    height: 150px;
    width: 400px;
    margin-right: 50px;
    resize: none; 
}

#feedbackform #fb_title {
    height: 20px;
    width: 400px;
    margin-left: 46px; 
}

#feedbackform #fb_submit, #fb_cancel {
    margin-left: 100px;
}

/* -------------------- Site Header Menu -------------------- */

#signedoutmenu {
    display: block;
    color: white;
    position: fixed;
    width: 656px;
    height: 90px;
    margin-top: 15px;
    background-color: #990000;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
}

#signedoutmenu h5 {
    position: relative;
    width: 0;
    height: 0;
    left: -217px;
    top: 60px;
    text-shadow: 2px 2px 3px #333;
}

#menucontents {
    position: static;
    max-width: 1000px;
    margin: 0 auto;
}

#mobilemenu {
    position: static;
    margin: 0 auto;
    text-shadow: 2px 2px 3px #333;
    margin-top: 22px;
    cursor: pointer;
}

#sitelogo, #sitetitle {
    float: left;
    overflow: auto;
    height: 75px;
    width: 75px;
    padding: 5px;
    cursor: pointer;
}

#sitelogo {
    padding-left: 30px;
    position: static;
    margin-top: 2px;
}

#sitetitle {
    width: 220px;
    height: 65px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 3px #333;
    color: white;
    position: static;
    margin-top: 15px;
    margin-left: 5px;
}

#signedoutmenu li {
    display: none;
}

li a {
    color: white;
}

#menulinks {
    padding-top: 35px;
}

.headeropt:hover {
    text-shadow: 2px 2px 3px #000;
}

/* -------------------- Group DropDown Menu -------------------- */

.dropdown-content { 
    margin-top: 57px;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 215px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

#dropbtn:hover {
    cursor: pointer;
}

#dropdiv {
    position: relative; 
    width: 0; 
    height: 0;
}

/* -------------------- Scrollbar Styling -------------------- */

*::-webkit-scrollbar {
    width: 0.5em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #770000;
  outline: 1px solid slategrey;
}

/* -------------------- Material Design Icons -------------------- */

/* Sizing */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Basic Coloring */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Custom Colors */
.material-icons.error { color: #aa0000; }

@media only screen and (min-width: 656px) {
    /* For desktop: */

    /* -------------------- Site Header Menu -------------------- */

    #display {
        width: 1000px;
        height: 850px;
    }

    #signedoutmenu {
        display: block;
        width: 100%;
        max-width: none;
        min-width: 885px;
        overflow-y: visible;
        overflow-x: hidden;
    }

    #signedoutmenu li {
        float: right;
        overflow: auto;
        width: 15%;
        height: 50px;
        list-style-type: none;
        display: block;
    }

    /* -------------------- Signed Out Main Page (Home Display) -------------------- */ 

    #register, #signin {
        margin: auto;
        width: 45%;
        min-width: 284px;
        padding: 2%;
        margin-left: 5px;
        float: left;
    }

    #mobilemenu {
        display: none;
    }
}